<link href='/css/home.css' rel="stylesheet">


<section class='menu py-10 menuhome'>
    <div class=' cardcontainer container  mx-auto mt-4 grid grid-cols-4 gap-12 '>

        <% data && data.map(prod=>{ %>

            <div id='<%= prod._id %>' class=' menuwrapper card text-center rounded bg-white p-4'>
                <div>
                    <img src='/images/pizza.jpg'>
                </div>
                <div>
                    <h3>
                        <%= prod.name %>
                    </h3>
                    <span>special</span>
                </div>
                <div class='flex justify-between items-center'>
                    <span>$<%= prod.price %>.00</span>
                    <button class='addtocartbutton bg-gray-200 rounded px-2 py-1 ml-4' data -product='<%= JSON.stringify(prod) %>'><span>+</span><span class='addtocartspan' data-product='<%= JSON.stringify(prod) %>'>Add</span></button>

                </div>
            </div>
            <%  }) %>


                <div class='card text-center rounded bg-white p-4'>
                    <div>
                        <img src='/images/pizza.jpg'>
                    </div>
                    <div>
                        <h3>Pizza1 </h3>
                        <span>small</span>
                    </div>
                    <div class='flex justify-between items-center'>
                        <span>$20.00</span>
                        <button class='addtocartbutton' data-product='<%= JSON.stringify(product) %>'><span>+</span><span  class='addtocartspan' data-product='<%= JSON.stringify(product) %>'>Add</span></button>

                    </div>
                </div>

                <div class='card text-center rounded bg-white p-4'>
                    <div>
                        <img src='/images/pizza.jpg'>
                    </div>
                    <div>
                        <h3>Pizza2 </h3>
                        <span>medium</span>
                    </div>
                    <div class='flex justify-between items-center'>
                        <span>$25.00</span>
                        <button class='addtocartbutton' data-product='<%= JSON.stringify(product) %>'><span>+</span><span class='addtocartspan' data-product='<%= JSON.stringify(product) %>'>Add</span></button>

                    </div>
                </div>

                <div class='card text-center rounded bg-white p-4'>
                    <div>
                        <img src='/images/pizza.jpg'>
                    </div>
                    <div>
                        <h3>Pizza3 </h3>
                        <span>Large</span>
                    </div>
                    <div class='flex justify-between items-center'>
                        <span>$30.00</span>
                        <button class='addtocartbutton' data-product='<%= JSON.stringify(product) %>'><span>+</span><span class='addtocartspan' data-product='<%= JSON.stringify(product) %>'>Add</span></button>

                    </div>
                </div>
    </div>
</section>

<script src='/js/home.js'></script>